<div class="dashboard-container">
  <!-- Filtros superiores -->
  <div class="filtros-container">
    <label>
      Desde:
      <input type="date" [(ngModel)]="fechaDesde" />
    </label>
    <label>
      Hasta:
      <input type="date" [(ngModel)]="fechaHasta" />
    </label>
    <label>
      Turno:
      <select [(ngModel)]="turnoSeleccionado">
        <option value="">Todos</option>
        <option *ngFor="let turno of turnos" [value]="turno">
          {{ turno }}
        </option>
      </select>
    </label>
    <button (click)="aplicarFiltrosLocales()">Filtrar</button>
    <button (click)="quitarFiltros()">Quitar filtros</button>
    <button (click)="exportToExcelSostenimientoFiltro()">Exportar a Excel</button>
    <button (click)="exportToExcelSostenimiento()" class="btn btn-success">
  <i class="fas fa-file-excel"></i> Exportar a Excel completo
</button>
  </div>

  <!-- Tarjetas con los gráficos -->
  <div class="graficos-container">
    <div class="special-row">
      <div class="card">
        <h3>PROMEDIO DE RENDIMIENTO</h3>
        <app-rendimiento-promedio
          [RendimientoPerforacion]="RendimientoPerforacion"
          [metas]="metasPorGrafico['PROMEDIO DE RENDIMIENTO']"
        ></app-rendimiento-promedio>
      </div>
      
      <div class="card">
        <h3>SUMA DE METROS PERFORADOS</h3>
        <app-suma-metros-perforados
          [datos]="datosGraficobarrasapiladasLargo"
          [metas]="metasPorGrafico['SUMA DE METROS PERFORADOS']"
        ></app-suma-metros-perforados>
      </div>

      <div class="card">
        <h3>DISPONIBILIDAD MECANICA - GENERAL</h3>
        <app-disponibilidad-mecanica-general
          [datos]="datosGraficoEstados"
          [metas]="metasPorGrafico['DISPONIBILIDAD MECANICA - GENERAL']"
        ></app-disponibilidad-mecanica-general>
      </div>

      <div class="card">
        <h3>UTILIZACION - GENERAL</h3>
        <app-utilizacion-general
          [datos]="datosGraficoEstados"
          [metas]="metasPorGrafico['UTILIZACION - GENERAL']"
        ></app-utilizacion-general>
      </div>

      <div class="card">
      <h3>MALLA PROMEDIO</h3>
      <app-promedio-mayas
        [datos]="datosGraficoMallas"
        [metas]="metasPorGrafico['MALLA PROMEDIO']"
      ></app-promedio-mayas>
    </div>

     <div class="card">
        <h3>SUMA DE TALADROS</h3>
        <app-promedio-n-taladro
          [datos]="datosGraficoNtaladros"
          [metas]="metasPorGrafico['SUMA DE TALADROS']"
        ></app-promedio-n-taladro>
      </div>
      
    </div>
    <div class="card">
      <h3>METROS PERFORADOS - EQUIPO</h3>
      <app-metros-perforados-equipo
        [datos]="datosGraficobarrasapiladasLargo"
        [metas]="metasPorGrafico['METROS PERFORADOS - EQUIPO']"
      ></app-metros-perforados-equipo>
    </div>

    <div class="card">
      <h3>METROS PERFORADOS - LABOR</h3>
      <app-metros-perforados-labor
        [datos]="datosGraficobarrasapiladasLargo"
        [metas]="metasPorGrafico['METROS PERFORADOS - LABOR']"
      ></app-metros-perforados-labor>
    </div>

    <div class="card">
      <h3>ESTADOS</h3>
      <app-grafico-estados [datos]="datosGraficoEstados"></app-grafico-estados>
    </div>

    <div class="card">
      <h3>ESTADOS GENERAL</h3>
      <app-promedio-de-estados-general
        [datos]="datosGraficoEstados"
        [metas]="metasPorGrafico['ESTADOS GENERAL']"
      ></app-promedio-de-estados-general>
    </div>

    <div class="card">
      <h3>MALLA - EQUIPO</h3>
      <app-malla-instalada-equipo
        [datos]="datosGraficoMallas"
        [metas]="metasPorGrafico['MALLA - EQUIPO']"
      ></app-malla-instalada-equipo>
    </div>

    <div class="card">
      <h3>MALLA - LABOR</h3>
      <app-malla-instalada-labor
        [datos]="datosGraficoMallas"
        [metas]="metasPorGrafico['MALLA - LABOR']"
      ></app-malla-instalada-labor>
    </div>

    <div class="card">
      <h3>HOROMETROS</h3>
      <app-horometros
        [datosHorometros]="datosHorometros"
        [metas]="metasPorGrafico['HOROMETROS']"
      ></app-horometros>
    </div>

    <div class="card">
      <h3>RENDIMIENTO DE PERFORACION - EQUIPO</h3>
      <app-rendimiento-de-perforaciones
        [RendimientoPerforacion]="RendimientoPerforacion"
        [metas]="metasPorGrafico['RENDIMIENTO DE PERFORACION - EQUIPO']"
      ></app-rendimiento-de-perforaciones>
    </div>

    <div class="card">
      <h3>DISPONIBILIDAD MECANICA - EQUIPO</h3>
      <app-disponibilidad-mecanica-equipo
        [datos]="datosGraficoEstados"
        [metas]="metasPorGrafico['DISPONIBILIDAD MECANICA - EQUIPO']"
      ></app-disponibilidad-mecanica-equipo>
    </div>

    <div class="card">
      <h3>UTILIZACION - EQUIPO</h3>
      <app-utilizacion-equipo
        [datos]="datosGraficoEstados"
        [metas]="metasPorGrafico['UTILIZACION - EQUIPO']"
      ></app-utilizacion-equipo>
    </div>
  </div>
</div>
