<div class="chart-container">
  <apx-chart
    #chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [labels]="chartOptions.labels!"
    [plotOptions]="chartOptions.plotOptions!"
    [fill]="chartOptions.fill!"
    [colors]="chartOptions.colors!"
    [responsive]="chartOptions.responsive!"
    [legend]="chartOptions.legend!">
  </apx-chart>

  <div class="chart-info">
    <div class="info-box">
      <p>
        <span class="label">Meta establecida:</span>
        <span class="value">{{ meta | number:'1.2-2' }} m</span>
      </p>
      <p>
        <span class="label">Metros perforados:</span>
        <span class="value">{{ sumaMetros | number:'1.2-2' }} m</span>
      </p>
      <p>
        <span class="label">Porcentaje de cumplimiento:</span>
        <span class="value" [ngClass]="{
          'success': porcentajeCumplimiento >= 100,
          'warning': porcentajeCumplimiento >= 90 && porcentajeCumplimiento < 100,
          'danger': porcentajeCumplimiento < 90
        }">
          {{ porcentajeCumplimiento | number:'1.2-2' }}%
        </span>
      </p>
      <p *ngIf="porcentajeCumplimiento > 100" class="excedente">
        <span class="label">Excedente:</span>
        <span class="value">+{{ (sumaMetros - meta) | number:'1.2-2' }} m</span>
      </p>
    </div>
  </div>
</div>